@page "{id:int}"
@model EditModel
@{
}
@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category - @Model.Category.Id</h1>

<form method="post">
    <div asp-validation-summary="All"></div>
    <input asp-for="Category.Id" type="hidden" />
    <div>
        <label asp-for="Category.Name"></label>
        <div>
            <input asp-for="Category.Name" />
            <span asp-validation-for="Category.Name"></span>
        </div>
        <label asp-for="Category.Description"></label>
        <div>
            <input asp-for="Category.Description" />
            <span asp-validation-for="Category.Description"></span>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>